<div *ngIf="!weatherForecast || weatherForecast.length == 0">
  <div *ngIf="!progressMessage">Forecast starting...</div>
  <div *ngIf="progressMessage && progressMessage?.messageType === messageTypeProgress">Forecast loading...: {{ progressMessage.message }}</div>
  <div *ngIf="progressMessage && progressMessage.messageType !== messageTypeProgress">Forecast couldn't be loaded: {{ progressMessage.message }}</div>
</div>
<div *ngIf="weatherForecast && weatherForecast.length > 0">
  <div *ngFor="let forecast of weatherForecast">
    <div>Date: {{ forecast.date | date: 'dd/MM/yyyy' }} </div>
    <div>Temperature: {{ forecast.temperatureC }}</div>
    <div>Summary: {{ forecast.summary }}</div>
    <br />
  </div>
</div>
